/* Login.css */

/* Container styles */
.login-container {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

/* Input container styles */
.input-container {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Align items vertically */
}

/* Input styles */
input[type="text"],
input[type="password"] {
    width: 100%;
    max-width: 300px; /* Set maximum width for input fields */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none; /* Remove default input focus outline */
    transition: border-color 0.3s ease; /* Add transition effect for focus */
    box-sizing: border-box; /* Include padding and border in element's total width */
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007bff; /* Change border color on focus */
}

/* Error message styles */
.error {
    color: red;
    margin-top: 10px;
}

/* Login button styles */
.login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #0056b3;
}

/* Link styles */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
